.search-resoults-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @media #{$sm} {
    flex-wrap: wrap;
  }
  .tax-type-results {
    flex: auto;
    // ul {
    //   list-style: none;
    //   padding: 0;
    //   display: flex;
    //   gap: 10px;
    //   @media #{$sm} {
    //     flex-wrap: wrap;
    //   }
    //   li {
    //     a {
    //       text-decoration: none;
    //       color: $black;
    //       font-size: 18px;
    //       opacity: 0.5;
    //       @media #{$sm} {
    //         font-size: 12px;
    //       }
    //       &:hover {
    //         opacity: 1;
    //         color: $main;
    //       }
    //     }
    //   }
    // }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 10px;
      @media #{$sm} {
        flex-wrap: wrap;
      }
      li {
        a {
          display: block;
          text-decoration: none;
          padding: 5px 15px;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid $light-black;
          border-radius: 100px;
          color: $light-black;
          transform: translate(0, 0px) !important;
          &:hover {
            transform: translate(0, -3px) !important;
            color: #fff;
            background-color: $black;
            box-shadow: 0 5px 10px 0px rgba($black, 0.24);
          }
        }
      }
    }
  }
  .search-results-count {
    margin-right: 20px;
  }
  .swicher-results-display {
    display: flex;
    align-items: center;
    gap: 10px;
    @media #{$sm} {
      justify-content: space-between;
      width: 100%;
    }
    span {
      @media #{$sm} {
        flex: auto;
      }
    }
    .swicher {
      opacity: 0.3;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .swicher.active {
      opacity: 1;
    }
  }
}

.select2-container {
}
.select2-dropdown {
  padding: 10px;
  .select2-search {
    display: none;
  }
}

.select2-results {
  .select2-results__options {
    li.select2-results__option--highlighted {
      background-color: $main;
    }
  }
}
