.h-extra {
  // z-index: 5;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  .h-extra__form {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    .h-extra__form__wrap {
      min-height: 100px;
      margin-top: -50px;
      padding: 20px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 -20px 30px 0 rgba(0, 0, 0, 0.22);
      @media #{$sm} {
        min-height: auto;
        margin-top: -32px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        // bottom: 0px;
        bottom: -50px;
        left: 0px;
        width: 100%;
        height: 100%;
        // height: calc(100% - 50px);
        background-color: #f3f3f3;
        @media #{$sm} {
          bottom: -32px;
        }
      }
    }
  }
  .h-extra__bullets {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    position: relative;
    // z-index: 2;
    // margin-top: 30px;
    @media #{$sm} {
      padding: 30px 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      li {
        display: flex;
        gap: 10px;
        @media #{$sm} {
          width: 100%;
        }
        svg {
          @media #{$sm} {
            width: 50px;
          }
        }
        h4 {
          margin-bottom: 10;
        }
        p {
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }
}

.h-extra__form__wrap {
  .mobile-toggler-form {
    display: none;
    justify-content: space-between;
    align-items: center;
    @media #{$sm} {
      display: flex !important;
    }
    > span {
      font-weight: bold;
    }
    .toggler {
      position: relative;
      height: 15px;
      width: 20px;
      cursor: pointer;
      &:hover {
        span {
          background-color: $main;
        }
      }
      span {
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        background-color: $black;
        transition: all 0.3s linear;

        &:nth-child(2) {
          transform: translate(0, 6px);
        }
        &:nth-child(3) {
          transform: translate(0, 12px);
        }
      }
    }
  }
  form.active {
    display: block !important;
  }
  form {
    display: none;
    @media #{$sm} {
      display: none !important;
      margin-top: 20px;
    }
    ul {
      display: flex;
      gap: 20px;
      padding-left: 0px;
      @media #{$sm} {
        flex-wrap: wrap;
      }
      li {
        margin: 0px;
        padding: 0;
        width: 20%;
        position: relative;
        @media #{$sm} {
          width: 100%;
        }
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translate(10px, -50%);
          display: block;
          z-index: 3;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 26px;
          height: 26px;
        }
        &:nth-child(1) {
          &:before {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAbpJREFUSEutlAFRxDAQRTkF4IBKwAHFARIOB6CA4gAJdQAo4BwACigOQAH8d5PPhEw2HXrdmZ2kabNv/2bTzVFsJ3p1K7+Wv8qv0tjYUn+1CXYAeJa/ybfJ7zX2S0A1SAlwHsAWgUpICegUmDXKhS0C5ZBaiYYUfNTo+b9BhtQAHDhngHtelu5MC5MXoxFIC0C5aAA667EIgiKcJJoGhMME5A2j5mRowI3mrNWMs0LlrkUB8i132dhwLr+ToyAHkIQTcUwSnFKiIYfgZMPHZIsiyoIKgC4RwWvty3vWZ5VQGj4iKKDSIoD3kdBnKEMvXKYWCKWAfFeI52Yh+EULwLv8nswpcqy8G/M9Iau88XOgHEB5aQ7KhZpc6R9g7d8VgQj2IOenaQDznbzWFL+g6C8MaJTT3nQQz872OO32H5rHbQK9aOTiTrmUCOJv+gTggIExkjVBy250YqyjblZJ/k1tHpWU4O9JyZPG/TnNKWnBDEKtD/0yKWcN4HAohP1dypquyy8kwU/lo/zjECW5Ss6Js7ChiOc9fC0IwQmM0SC2XpNhTUitGVaHkL1B3BeMcn2tqcQl6jTBbdMPMYp+Wg8z5zwAAAAASUVORK5CYII=");
          }
        }
        &:nth-child(2) {
          &:before {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAASCAYAAABFGc6jAAAABHNCSVQICAgIfAhkiAAAAZFJREFUOE+llIFRwzAMRekEdAOyAWUDswFsECagTEA3aJkAMwGwgZmgZYN0gzIB/OeT7txew8WJ7v65iSU9SXYzu+i3pbaepe9/fMqtRg9r6eWc/6wnSav3QWKtsSjnJLEeWR9oZ6BDDUW+cwMt+kAbbVzb5ptWxrCqhLg7cZ1N41cro196R7T7yguD/JizBwO+qgAzCWA08MB0HESrVBJMjG6KkY/iEXl3DgLwLj1JcQqhiG31m1t46yAgtAiZzcYcOKsxRo5HaW9Fcxz5jJL0YTASA+J5KzHfGoty5lLdS50FAspnxHkgAG4843h3QuH6UgRrkE6vP3vkKa83eRbeEUFDLZpjOzRAfgmQV0UXVEqrqSLJOVeKIA+5c3feES9WEm0CY51ijUGCVqBzB0Hn5mGszJrz8a/FUOinHJkMsd4RDWwA8Zm4MQdPGKmigA8B4Z+TSsS7MbotoM4gOJabVDbGSFzG5nPy611ex8YqCmMoikkSoyuvfv4E0WorXVpi/tHMl3MaY0DIyUf4yxKkP4GDXiLFI0FDAAAAAElFTkSuQmCC");
          }
        }
        &:nth-child(3) {
          &:before {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABHNCSVQICAgIfAhkiAAAAjJJREFUSEu9lktIVUEYx7tpgQTiQoTSiFy0EXTpyo1RIIWW5q5NiOjSwHcRmUomPhCFQBcitmkhLSohX4hYpLWwgjY+IKg2RQliKWb5+8MMHI/3nnO6Dwd+zNw733z/+ebxzQkdOcQSCqN1kv/C/e83rS0MfngZuZ2mYTwAn/08u/rlJwlq/0fsDMaLcAmy4FgA0U1sNmAECiAD3sOue6w7Mom9ghKY9FsW+o/CHyiG52aSXdTdMBNU7CqG1+FmuBk6nCiKPmiFZ5BthNuo64zgjrWPFFksYvk4b4dfMAaPQYfnwKmzyxirWJVZyrvUzbCcKLEcHGvfrsFD6IElP7FKDG7DX8ceuZvpZr/uOPZMNtqvaliHCj+xCxg8gE/wz0PsOH26m7dgAnRAbEmhMWSi9IxMg0Syh5Dt0kH4CW9dYurX3ev1iywzgIhmfhq+gLKHZu+MLK5iWqLLoMt8D2YTKSaRFtDFl5h+JyyycZw3gO6RMsg03IA1WAXlxrjtmVtsHuf9oAR+H1YSKSbxXGiEl2ZZ4xaZ8t6CEdDe6Z6dNcuqqJ7AMHSCnpyIuTHI0S9ivJ4iZfvX8MaIlVKfhw+gpFwP32IV03hbUmm8M2InqAtBE56Dj9bIPjEyKIOLcAVGnZ4CtJW2yuERPIUXcCCnWrFTdDaBcqGItuQxUI9lB2y7nVgxZe8aOAe/o1VinJZzCgaN6D5XVkzfEvqEk2gsRS/EV/gezkk034dRT+ZQxfYAmzeVHGkeeeoAAAAASUVORK5CYII=");
          }
        }
        &:nth-child(4) {
          &:before {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAbCAYAAACa9mScAAAABHNCSVQICAgIfAhkiAAAAa1JREFUOE/dlOFRwzAMhekEsAEZgW4QJoANKBvQCQgbdAOyAWWDMAGM4E4AG8D7fFJO+BTa3+hOZ1t+enqWnazOcrtQ+FF+Kz/IWb/InzL4Kgl2iu3lg40O6W3yofEr5mUkkwAPcsCtbRSgCAVma0kA7OSjIajOOqpg7+ovEsA4cm+s6mQjefQENRDPSlslToJcVxErM4eE/eJqWhJugcouFyLWru5T89ewX3myxlLlXL71SmHk1lDDOFtGwiZnRs2zye40Qk5PIPllSySAaJxXpNE8vD5Rlx7HcVOT1K6PHgfAPyLxm1mHRtLojTV88XZIvLNbeLOmdgFdjOBS4yjn0RGrt8Mr5T1cW5ANrnOpsSjCwfCPuYfEPyakDqaAERKA8Y3wiyAO1vMKJF7xW3N6ABAQxxvl7xbvjdDxXmTfkrBGqlfUtP6EChMZytiDcCaLJCRTnaTBRsudBxI5BsYnUckiCUEAAI8ZarCKjyTckhMx5yozQy15HA2rJH6MmNBpgWdWFMQxMDtIBjmVXeJCbhquyv1/wtl6OY/nFKMoj5O8Mf6U2OC8p9rkwB9PQHIsM8EtkwAAAABJRU5ErkJggg==");
          }
        }
        .select2 {
          width: 100% !important;
          // height: 55px;
          .select2-selection {
            height: 55px;
            .select2-selection__rendered {
              padding: 14px 45px;
            }
            .select2-selection__arrow {
              height: 100%;
            }
          }
        }
        input[name="_sf_submit"] {
          cursor: pointer;
          width: 100%;
          height: 55px;
          background-color: transparent;
          border: 1px solid $main;
          color: $main;
          padding: 15px 30px;
          border-radius: 6px;
          text-decoration: none;
          transition: 0.3s linear;
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          text-align: center;
          display: inline-block;
          box-shadow: 0 0 0 0px rgba(198, 198, 198, 0.43);
          &:hover {
            background-color: $main;
            color: #fff;
            box-shadow: 0 0 0 3px rgba(198, 198, 198, 0.43);
            border: 1px solid rgba(198, 198, 198, 0.43);
          }
          &:active {
            background-color: $main;
            color: #fff;
            box-shadow: 0 0 0 0px rgba(198, 198, 198, 0.43);
            border: 1px solid $main;
          }
        }
      }
    }
  }
}
