.js-header {
  position: relative;
  z-index: 999;
}
#header-top {
  background-color: #fff;
  @media #{$sm} {
    position: relative;
    z-index: 99999;
  }
}
#header-bottom {
  position: relative;
  width: 100%;
  background-color: #1e2029;
  // overflow: hidden;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media #{$lg} {
      flex-wrap: wrap;
    }
    @media #{$xs} {
      justify-content: flex-end;
    }
  }
  .ornament-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0;
  }
  .ornament {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    width: auto;
    opacity: 0.7;
    @media #{$sm} {
      right: 0;
      opacity: 1;
    }
  }
}
#navbar {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.navbar__brand {
  @media #{$lg} {
    flex: auto;
  }
  @media #{$sm} {
    position: relative;
    z-index: 999;
  }
}
.navbar__navigation {
  @media #{$lg} {
    order: 4;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 0px;
    transform: translate(200%, 0);
    transition: all 0.5s ease 0.1s;
    max-width: 400px;
    width: 70%;
    height: 100vh;
    background-color: rgba($black, 0.98);
    @media #{$sm} {
      max-width: 100%;
      width: 100%;
      right: initial;
      left: 0;
      width: 100%;
      transform: translate(0, -200%);
    }

    @media #{$sm} {
      position: absolute;
      height: auto;
      padding-top: 80px;
      max-height: 100vh;
      overflow-x: auto;
      z-index: 1;
      padding-top: 80px;
    }

    // display: none;
  }
  > ul {
    @media #{$lg} {
      opacity: 0;
      transition: all 1s ease 0.1s;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @media #{$lg} {
      padding: 20px;
      flex-wrap: wrap;
    }
    li {
      @media #{$lg} {
        position: relative;
        width: 100%;
      }
      a {
        font-size: 16px;
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s linear;
        &:hover {
          color: $main;
        }
        @media #{$lg} {
          display: block;
          width: 100%;
          font-size: 21px;
          line-height: 34px;
          font-size: 21px;
          // border-bottom: rgba(255, 255, 255, 0.16) 1px solid;
        }
      }
      &:hover {
        > a > span {
          &:after {
            transform: translate(0, 0%) rotate(-45deg) !important;
            border-color: $main !important;
          }
        }
        > .sub-menu {
          height: auto;
          transform: translate(0, 0);
        }
      }
    }
    .menu-item-has-children {
      span {
        position: relative;
        padding-right: 20px;
        &:after {
          // content: "";
          // position: absolute;
          // display: block;
          // right: 0px;
          // top: 50%;
          // transform: translate(0, -50%);
          // width: 5px;
          // height: 5px;
          // background-color: red;
          content: "";
          position: absolute;
          right: 0px;
          top: 40%;
          width: 10px;
          height: 10px;
          border: solid #fff;
          border-width: 1px 1px 0 0;
          transform: translate(0, -50%) rotate(135deg);
          @media #{$lg} {
            display: none;
          }
        }
      }
    }
  }

  .sub-menu {
    position: absolute;
    opacity: 1;
    background-color: #fff;
    display: block;
    border-radius: 6px;
    height: 0px;
    overflow: hidden;
    transform: translate(0, 10px);
    transition: all 0.1s linear;
    @media #{$lg} {
      padding: 10px;
      height: auto;
      position: relative;
      transform: translate(0, 0px) !important;
      background: none;
      display: none;
    }
    li {
      display: block;
      &:first-child {
        a {
          margin-top: 5px;
        }
      }
      &:last-child {
        a {
          margin-bottom: 5px;
        }
      }
      span {
        padding: 0px;
        &:after {
          display: none;
        }
      }
      a {
        display: block;
        color: $black;
        font-size: 14px;
        padding: 5px 20px;
        @media #{$lg} {
          color: #fff;
          padding: 5px !important;
        }
      }
    }
  }
  .mobile-opener {
    position: absolute;
    top: 0px;
    right: 0px;
    // padding: 10px;
    // background-color: #fff;
    color: $main;
    width: 30px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    display: none;
    @media #{$lg} {
      display: block;
    }
    &:before {
      content: "";
      position: absolute;
      right: 0px;
      top: 40%;
      width: 10px;
      height: 10px;
      border: solid #fff;
      border-width: 1px 1px 0 0;
      transform: translate(0, -50%) rotate(135deg);
    }
    &:hover {
      opacity: 0.4;
    }
  }
  li.active {
    > .sub-menu {
      display: block;
      @media #{$lg} {
        border-top: 1px solid $main;
      }
    }
    .mobile-opener {
      &::before {
        transform: translate(0, 0%) rotate(-45deg) !important;
        border-color: #e11f26 !important;
      }
    }
  }
}
.navbar__navigation.active {
  @media #{$lg} {
    // display: block !important;
    transform: translate(0, 0);
  }
  > ul {
    opacity: 1;
  }
}

.header__cta.header__cta--desktop {
  .btn {
    font-size: 16px;
    background-color: #e11f26;
    color: #fff;
    padding: 10px 20px;

    @media #{$xs} {
      padding: 5px 10px;
      font-size: 14px !important;
    }
    @media #{$xs} {
      font-size: 12px !important;
      display: none;
    }
  }
}
// Toggler
.navbar__toggler {
  // margin-left: 50px;
  display: none;
  align-items: center;
  height: 30px;
  // gap: 10px;
  transform: translateY(-2px);
  @media #{$lg} {
    display: flex;
    order: 3;
  }
  @media #{$sm} {
    position: relative;
    z-index: 999;
  }
  cursor: pointer;
  > span {
    font-size: 12px;
    transform: translateY(1px);
    color: #fff;
  }
  .navbar__toggler__btn {
    span {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 100px;
      background-color: #fff;
      transition: all 0.1s linear;
      &:nth-child(2) {
        transform: translateY(3px);
        width: 25px;
      }
      &:nth-child(3) {
        transform: translateY(6px);
        width: 20px;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        display: block;
        width: 30px !important;
      }
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        width: 30px;
        transform: translateY(-2px) rotate(-45deg);
      }
    }
  }
}

// Kontakt
.header__conatact {
  padding: 10px 0;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    @media #{$md} {
      justify-content: flex-end;
    }
    @media #{$xs} {
      justify-content: center;
    }
    li {
      display: flex;
      align-items: center;
      &:nth-child(1) {
        flex: auto;
        @media #{$md} {
          display: none;
        }
      }
      &:nth-child(2) {
        @media #{$xs} {
          display: none;
        }
      }
      &:nth-child(3) {
        @media #{$xs} {
          svg {
            width: 40px;
            height: 25px;
          }
          a {
            font-size: 26px;
            color: $main;
            font-weight: 700;
          }
        }
      }
      a,
      span {
        padding: 10px;
        font-size: 14px;
        text-decoration: none;
        color: $black;
      }
      a {
        &:hover {
          color: $main;
          span {
            color: $main !important;
          }
        }
      }
    }
  }
}

// cookies bar
.header__cookis-bar {
  @media #{$sm} {
    position: relative;
    z-index: 9999;
  }
  background-color: $black;
  display: none;
  padding: 10px 25px;
  .header__cookis-bar__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media #{$xs} {
      flex-wrap: wrap;
      gap: 10px;
    }
    a {
      color: $main !important;
    }
    * {
      // font-size: 12px;
      // color: #fff;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $main;
    cursor: pointer;
  }
}

#navbar.active {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  background-color: $black;
  padding: 10px 0;
  @media #{$sm} {
    &:before {
      content: "";
      position: absolute;
      z-index: 9;
      top: 0px;
      left: 0px;
      background-color: $black;
      width: 100%;
      height: 100%;
    }
  }
}
#navbar.subclass {
  @media #{$sm} {
    &:before {
      transition: all 1s;
      content: "";
      position: absolute;
      z-index: 9;
      top: 0px;
      left: 0px;
      background-color: $black;
      width: 100%;
      height: 100%;
    }
  }
}

.mobile-heder-slider {
  display: none;
  @media #{$lg} {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
  }
  .navbar__toggler {
    @media #{$lg} {
      display: flex;
    }
    @media #{$sm} {
      display: none;
    }
  }
}

.header__cta--mobile {
  display: none;
  @media #{$lg} {
    display: flex;
    padding: 20px 30px;
    a {
      width: 100%;
    }
  }
}
