body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: $black;
  margin: 0;
  br {
    @media #{$md} {
      display: none;
    }
  }
}
.h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  @media #{$sm} {
    font-size: 28px;
  }
}
p {
  color: $black2;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #5c5e68;
}
small {
  font-size: 12px;
  line-height: 1.2;
  display: block;
}
b,
strong {
  color: $black;
  font-weight: 500;
}
li {
  font-size: 14px;
}
a {
  color: $main;
  transition: all 0.2s linear;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.color-main {
  color: $main;
}
.entry-header {
  width: 100%;
  text-align: center;
  padding: 50px 0 100px 0;
  @media #{$sm} {
    padding: 50px 0 100px 0;
  }
  .entry-title {
    font-size: 31px;
    text-transform: uppercase;
    color: #fff;
  }
}

.has-x-large-font-size,
.has-large-font-size {
  @media #{$sm} {
    font-size: 28px;
    line-height: 36px;
  }
}
