// Query
$xx: "only screen and (max-width: 350px)";
$x: "only screen and (max-width: 400px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #e11f26;

$black: #000;
$black2: #111111;
$light-black: #3e3e3e;
$gray: #dfdfdf;
$light: #f2f2f2;
