body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #22242c;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: #22242c;
  margin: 0;
}
@media only screen and (max-width: 998px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  .h1 br,
  .h2 br,
  .h3 br,
  .h4 br,
  .h5 br,
  .h6 br {
    display: none;
  }
}

.h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
}

p {
  color: #22242c;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #5c5e68;
}

small {
  font-size: 12px;
  line-height: 1.2;
  display: block;
}

b,
strong {
  color: #22242c;
  font-weight: 500;
}

li {
  font-size: 14px;
}

a {
  color: #e11f26;
  transition: all 0.2s linear;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-main {
  color: #e11f26;
}

.entry-header {
  width: 100%;
  text-align: center;
  padding: 50px 0 100px 0;
}
@media only screen and (max-width: 768px) {
  .entry-header {
    padding: 50px 0 100px 0;
  }
}
.entry-header .entry-title {
  font-size: 31px;
  text-transform: uppercase;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .has-x-large-font-size,
  .has-large-font-size {
    font-size: 28px;
    line-height: 36px;
  }
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

#main {
  margin-bottom: 50px;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container {
    width: 100%;
  }
}

.container-fluid {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container-fluid {
    width: 100%;
  }
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 768px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#error h2 {
  margin-bottom: 30px;
}

#go-to-top.active {
  bottom: 40px;
  transform: all 0.8s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  transform: all 0.8s;
}
#go-to-top svg path {
  fill: #e11f26;
  transition: all 0.2s liner;
}
#go-to-top svg:hover path {
  opacity: 0.5;
}

.go-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.entry-header #breadcrumbs * {
  color: #fff;
}
.entry-header #breadcrumbs a {
  color: #e11f26;
}

.kontakt-wraper {
  background-image: url(../img/bg-form.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 30%;
}

.faq__wraper {
  display: flex;
  margin-bottom: 50px;
  padding: 50px 0;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .faq__wraper {
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 0;
  }
}
.faq__wraper .col {
  width: 100%;
}

.faq {
  width: 100%;
  margin: 0 auto;
}
.faq .accordion {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-top: -1px;
}
.faq .accordion .question {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0px;
  min-height: 75px;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  .faq .accordion .question {
    font-size: 16px;
    line-height: 26px;
  }
}
.faq .accordion .question span {
  width: calc(100% - 24px);
  padding: 10px 50px 10px 20px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .faq .accordion .question span {
    width: 100%;
    padding: 10px 50px 10px 10px;
    position: relative;
  }
}
.faq .accordion .question span:after {
  content: "+";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  display: block;
  font-size: 64px !important;
  font-weight: 100 !important;
  color: #22242c;
}
@media only screen and (max-width: 768px) {
  .faq .accordion .question span:after {
    font-size: 24px !important;
  }
}
.faq .accordion .question svg {
  position: absolute;
  right: 15px;
  width: 16px;
  pointer-events: none;
}
.faq .accordion .answer {
  border-radius: 6px;
  height: 0;
  overflow: hidden;
  text-align: justify;
}
.faq .accordion.active {
  transition: all 0.1s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 6px;
  z-index: 1;
  background-color: #f6f6f6;
  border: 1px solid #22242c;
}
.faq .accordion.active .question {
  border-bottom: 1px solid #f2f2f2;
}
.faq .accordion.active .question span:after {
  content: "-";
}
.faq .accordion.active .answer {
  height: auto;
  padding: 0 24px 24px;
}
.faq ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
@media only screen and (max-width: 1300px) {
  .faq ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}/*# sourceMappingURL=accordions.css.map */