@import "../../src/css/scss/variable";
.go-brands {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      // width: calc(20% - 20px);
      text-align: center;
      @media #{$sm} {
        width: calc(33.333% - 20px);
      }
      a {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        display: block;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
          transform: translate(0, -3px);
          opacity: 0.7;
        }
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
